
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>getAllBooks</title>
    <h2>This is the list of all the books</h2>
</head>
<body>
</body>
</html>
