<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.min.js"></script>
    <title>Bookstore Application</title>
</head>
<body>
    <div>
        <p>This is common code to all the views</p>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
