
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>Welcome to the bookstore application!</h2>
    <p>This is first page of the view.</p>
</body>
</html>
